<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <img src="{{foto}}" alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
          </li>
          <li class="nav-item ps-4 d-flex  fs-4 text-white align-items-center">
            <p class="m-0 fw-bold">{{nome}}</p>
          </li>
          <li class="nav-item ps-3 d-flex fs-3 align-items-center text-white">
            <a href=""><i class="fa fa-pencil-square-o text-white" aria-hidden="true"></i></a>
            
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item ps-4 d-flex  fs-5 text-white align-items-center">
                <a (click)='sair()' class="text-decoration-none" href=""><p class="m-0 text-white  fw-bold">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
                </p></a>
        </ul>
      </div>
    </div>
  </nav>