<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg">

        </div>

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-4">Cadastro</h1>

                    <div class="form-group mb-4">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="seu nome">


                    </div>

                    <div class="form-group mb-4">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="seu usuário">


                    </div>

                    <div class="form-group mb-4">
                        <label for="link-foto">Link da foto</label>
                        <input [(ngModel)]='user.foto' class="form-control" type="text" name="link-foto" id="link-foto"
                            placeholder="link da sua foto">


                    </div>

                    <div class="form-group mb-4">
                        <label for="senha">Senha</label>
                        <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">


                    </div>

                    <div class="form-group mb-4">
                        <label for="confirmar-senha">Repita sua senha:</label>
                        <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmar-senha" id="confirmar-senha"
                            placeholder="Sua senha">


                    </div>

                    <div class="form-group mb-4">
                        <label for="confirmar-senha">Data de nascimento:</label>
                        <input [(ngModel)]='user.dataNascimento' class="form-control" type="date" name="data-nascimento" id="data-nascimento"
                            placeholder="">


                    </div>

                    <div class="form-group mb-4">
                        <label for="tipo">Tipo de usuário:</label>
                        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                            <option>Selecione um tipo de usuário</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>


                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger me-5" routerLink = '/entrar'>
                            Cancelar
                        </button>

                        <button type="submit" class="btn btn-success" (click)='cadastrar()'>
                            Cadastrar
                        </button>
                    </div>



                </div>
            </div>

            <hr class="mt-5 mb-5">

            <p class="text-center">
                Já tem uma conta ? <a routerLink = '/entrar'> Entre </a>
            </p>

        </div>


    </div>
</div>